* {
	margin: 0;
	padding: ;
	box-sizing: border-box;
	
}

header {
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 20px;
	
}

.titulo {
	max-width: 350px;
	background-color: #fdfdfd;

}

.subtitulo {
	max-width: 370px;
	background-color: #fdfdfd;
}
	

body {
	background-image: url("couple2.png");
	background-size: cover;
	background-repeat: no-repeat;
 	background-position: top;
	font-size: 30px;
}

.content {
	padding: 2rem;
	max-width: 950px;
	display: flex;
  	flex-direction: column;
	
}

.text-bg {
	background-color: #fdfdfd;
	padding: 0.5rem;
	margin: 0;
	display: flex;
  	flex-direction: column;
	gap: 0.3em;
}

.down {
	padding: 4rem;

}

footer {
	padding-left: 1rem;
	font-size: 25px;
	color: #FFFFFF;
	background-color: #000000;
	display: flex;
  	align-items: center;
	gap: 7px;
  	
}

.link-imagem img {
  width: 20px;
  height: auto;
  object-fit:  
}

